<h1>{{group.name}} - {{group.phone | phoneFormatter}}</h1>

<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Group Name" ng-model="group.name">
    </div>

    <section ng-controller="TabPanelController as tabCtrl">
        <ul class="nav nav-tabs">
            <li ng-class="{active:tabCtrl.isTabSelected(1)}"><a ng-click="tabCtrl.selectTab(1)">Behaviour</a></li>
            <li ng-class="{active:tabCtrl.isTabSelected(2)}"><a ng-click="tabCtrl.selectTab(2)">Messages</a></li>
        </ul>

        <div class="panel" ng-show="tabCtrl.isTabSelected(1)">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="group.open" /> Open for new members
                </label>
            </div>
            <div class="form-group">
                <label for="call_handler">Voice Calls</label>
                <select class="form-control" ng-model="group.call_handler">
                    <option value="reject_busy">Reject with busy signal</option>
                </select>
            </div>
            <div class="form-group">
                <label>Group Mode</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="groupModes" ng-model="group.mode" value="chat" />
                        Chat - everyone sees all messages
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="groupModes" ng-model="group.mode" value="broadcast" />
                        Broadcast - group announcements and queries
                    </label>
                </div>
            </div>
        </div>

        <div class="panel" ng-show="tabCtrl.isTabSelected(2)">
            <div class="form-group">
                <label for="welcome_message">When new member joins group</label>
                <textarea rows="2" class="form-control" ng-model="group.welcome_message"></textarea>
            </div>
            <div class="form-group">
                <label for="goodbye_message">When member leaves group (<kbd>#cancel</kbd>)</label>
                <textarea rows="2" class="form-control" ng-model="group.goodbye_message"></textarea>
            </div>
            <div class="form-group">
                <label for="info_message">When member requests group info (<kbd>#info</kbd>)</label>
                <textarea rows="2" class="form-control" ng-model="group.info_message"></textarea>
            </div>
            <div class="form-group">
                <label for="response_message">When group is in broadcast mode and member texts group</label>
                <textarea rows="2" class="form-control" ng-model="group.response_message"></textarea>
            </div>
            <div class="form-group">
                <label for="reject_message">When group is closed and someone tries to join</label>
                <textarea rows="2" class="form-control" ng-model="group.reject_message"></textarea>
            </div>
        </div>
    </section>
</form>
